body {
    margin: 0;
    overflow: hidden;
}

#game-of-life {
    position: absolute;
}

#coords {
    position: fixed;
    top: 0.5vh;
    left: 0.5vh;
    padding: 1px 4px;

    font-size: 0.9em;
    font-family: 'Lato';
    color: rgba(255, 255, 255, 0.9);
    text-shadow: -2px 2px 4px black;
    border-radius: 15%;

    pointer-events: none;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 110;
}

#coords > div {
    display: inline;
}

#toolbar {
    position: absolute;
    top: 0px;
    right: 0px;
    user-select: none;
    z-index: 100;
}

#toolbar *:not([class*=dropdown]) {
    transition: all 200ms;
}

#info {
    position: absolute;
    bottom: 0px;
    right: 0px;
    user-select: none;
}

#in-speed {
    box-shadow: none;
}

#btn-hide > i {
    transition: transform 500ms;
}

#dropdown-info {
    width: 300px;
}

#dropdown-info .text-muted {
    user-select: text !important;
}

#dropdown-info a {
    word-break: break-all;
}

#in-file-comments {
    height: 100% !important;
}

#modal-gallery .modal-content {
    min-height: 100%;
}

#modal-gallery .modal-body {
    overflow-x: hidden;
}

#modal-soup input {
    text-align: end;
}

#in-game-rule {
    padding-left: 0.5rem !important;
    padding-top: 1.8rem !important;
}

#in-game-rule-name {
    padding-left: 0.3rem !important;
    padding-top: 1.6rem !important;
}

#select-box {
    position: absolute;
    pointer-events: none;
    border-radius: 1px;
    border: dashed 1px rgba(50, 50, 50, 0.7);
    background: rgba(50, 255, 50, 0.2);
    z-index: 90;
}

#info-toast {
    z-index: 120;
}

#out-gens, #out-populus {
    width: 8em;
    text-align: right;
}

/* Fix for Bootstrap v5.0 */
.dropdown-menu-dark .form-floating > label {
    color: #212529;
}

.modal-body .input-group .form-floating {
    width: 84.7%;
}
